<div id="userMenu" class="user_menu">
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"></button>
    <ul id="" class="dropdown-menu">
      <li>
        <a href="##">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;切换用户</a>
      </li>
      <li>
        <a href="##">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;修改密码</a>
      </li>
      <li>
        <a href="##">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;用户设置</a>
      </li>
      <li>
        <a href="login.html">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;退出登录</a>
      </li>
    </ul>
  </div>
</div>
